## Plan List of candidate features and transformations.

## Encoding & new features

In [1]:
import pandas as pd
df = pd.read_csv('../data/raw/telco_secret.csv')
df['tenure_bucket'] = pd.cut(df['tenure'], bins=[-1,6,24,48,100], labels=['0-6','7-24','25-48','49+'])
df.head()

,customerID,gender,senior_citizen,dependents,tenure,contract,internet_service,online_security,tech_support,streaming_tv,monthly_charges,total_charges,payment_method,app_usage_min_per_week,complaint_count_6m,satisfaction_rating,engagement_score,churn,tenure_bucket
0,CUST00001,Female,1,No,52,One year,Fiber optic,No,No,Yes,114.00,5932.80,Credit card (automatic),492,0,1,0.551,Yes,49+
1,CUST00002,Male,0,Yes,46,Month-to-month,DSL,Yes,No,Yes,137.98,6350.44,Mailed check,497,0,6,0.733,No,25-48
2,CUST00003,Male,0,Yes,53,Month-to-month,DSL,Yes,Yes,No,51.29,2721.75,Bank transfer (automatic),358,2,5,0.546,No,49+
3,CUST00004,Female,0,Yes,18,One year,Fiber optic,No,No,Yes,112.47,2025.34,Mailed check,486,0,5,0.686,No,7-24
4,CUST00005,Female,0,Yes,42,Month-to-month,Fiber optic,Yes,Yes,Yes,63.84,2718.73,Mailed check,486,4,1,0.451,Yes,25-48